/*
Globals
*/

.col-centered{
	float: none;
	margin: 0 auto;
}

a {
	color: #191919;
	
	&:hover {
		text-decoration: none;
		background-color: rgba(199, 199, 199, 0.61);
		color: #2a2a2a;
	}
}

/*
Navbar
*/

.blog-header-logo:hover {
	background-color: unset;
}



/*
Thumbnails
*/


.img-responsive-16by9 {
	display: block;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	margin-bottom: 2rem;
	border-radius: 10px 10px;
	
	img {
		border-radius: 10px 10px;
	}
	
}


/*
Comments
*/

.comment-list {
	list-style: none;
	margin-top: 2rem;
	max-width: 720px;
	margin-bottom: 3rem;
	
	li {
		background-color: white;
	}
}


img.avatar.avatar-50.photo {
	display: none;
}

cite.fn {
	font-size: 20px;
}

ul.children {
	list-style: none;
}

.comment-respond {
	max-width: 600px;
	margin: 0 auto;
}




/*
Footer 
*/

.blog-footer {
	
}




