/*
Globals
*/

html {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
}


main {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

body {
	background-color: #eef0eb;
}

main, .container {
	background-color: white;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

a {
	color: #191919;

	&:hover {
		text-decoration: none;
		background-color: $myGreen;
		color: #2a2a2a;
	}
}

#main-jumbotron {
	margin-top: 1.5rem;

}